body {
background-color: #7c3030;
color: #f0dc82;
font-family: "Times New Roman";
}

div{
  text-align: center;
  background-color:black;
  font-size: 25px;
}

h1 {
  text-align: left;
  text-decoration: underline;
}

p {
  text-align: left;
  font-size: 20px;
  text-indent: 30px;
}

a {
  color: #f0dc82;
}