body {
background-color: #495057;
color: #ced4da;
font-family: 'Courier New', monospace;
}

div{
  text-align: center;
  background-color:black;
  font-size: 25px;
}

h1 {
  text-align: left;
  text-decoration: underline;
}

p {
  text-align: left;
  font-size: 20px;
  text-indent: 30px;
}

a {
  color: #ced4da;
}