body {

background-color: #7c3030;

color: #f0dc82;
font-family: "Times New Roman";
}


div{
  text-align: center;
  background-color:black;
  font-size: 25px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}



a {
  color: #f0dc82;
}


footer {
    
  text-align:center;
padding: 20px;
width: 100%;
 }