body {

background-color: #495057;

color: #ced4da;
font-family: 'Courier New', monospace;
}


div{
  text-align: center;
  background-color:black;
  font-size: 25px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}



a {
  color: #ced4da;
}


footer {
  color: #ced4da;  
  text-align:center;
  font-family: "Times New Roman";
padding: 20px;
width: 100%;
 }