body {

background-color: #495057;

color: #ced4da;
font-family: 'Courier New', monospace;
}


div{
  text-align: center;
  background-color:black;
  font-size: 25px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}



a {
  color: #ced4da;
}


span.immigrants.on{
    color:#99BAB9;
}

span.conditions.on{
    color:#EABCA8;
}

span.death.on{
    color:#E4ACB2;
}

span.vice.on{
    color:#938FB8;
}

span.disease.on{
    color:#B6E4BC;
}

span.crime.on{
    color:#FFD1E3;
}

span.work.on{
    color:#F0E2C3;
}

span.policing.on{
    color:#B17C82;
}

span.children.on{
    color:#DCCCEC;
}

span.charity.on{
    color:#9FD4A3;
}

footer {
  color: #ced4da;  
  text-align:center;
  font-family: 'Courier New', monospace;
 padding: 20px;
width: 100%;
 }
 
 table {
    margin-left: auto;
    margin-right: auto
    }
.tdl {
    text-align: left
    }
.tdr {
    text-align: right
    }
.tdc {
    text-align: center
    }
.bot {
    vertical-align: bottom
    }
.pl {
    padding-left: 1em
    }
.pr {
    padding-right: 1em
    }
.bb {
    border-bottom: solid black 1px
    }
.br {
    border-right: solid black 1px
    }
.bt {
    border-top: solid black 1px
    }
.hng {
    padding-left: 0.25in;
    text-indent: -0.25in;
    text-align: left;
    vertical-align: top
    }
.width90 {
    width: 90%
    }